---
import { changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Hero2 from "~/components/widgets/Hero2.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Content from "~/components/widgets/Content.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Agenda from "~/components/widgets/Agenda.astro";
import Stats from "~/components/widgets/Stats.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import Speakers from "~/components/widgets/Speakers.astro";
import Brands from "~/components/widgets/Brands.astro";
changeLanguage("en");

const metadata = {
    title: "ETH Bolivia 2023",
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{
      src: '~/assets/images/photo4eth2023.jpg',
      alt: 'Ethereum Bolivia Hero Image',
    }}
  >
    <Fragment slot="title">
      Ethereum Bolivia 2023<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
    First Blockchain Hackathon in La Paz, Bolivia.

    </Fragment>


  </Hero2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="What is Ethereum Bolivia 2023?"
    subtitle="It is an event that brings together experts in the Ethereum ecosystem, programmers and enthusiasts in La Paz. A space to foster education, collaboration, knowledge sharing and development, whether you are in your first steps in the Blockchain world or you are an experienced enthusiast, here you will find a place to share your ideas. "
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Impact of the event"
    subtitle="The following indicators reflect the results of events organised at universities in La Paz in September 2023."
    stats={[
      { title: 'Attendants', amount: ' +200' },
      { title: 'Experts', amount: '28' },
      { title: 'Community partners & sponsors', amount: '10' },
      { title: 'Hours of technical and non-technical talks', amount: '+45' },
      { title: 'Hackers', amount: '64' },
      { title: 'Projects', amount: '9' },
      { title: 'Prizes', amount: '+1000$' },
    ]}
  />


  <!-- Brands Widget ****************** -->

  <Brands
    title="Sponsors"
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor1.png',
        alt: 'Ecosystem Support Program',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor2.png',
        alt: '1inch Network',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor3.png',
        alt: 'MC4',
      },
    ]}
  />
  <Brands
    title="Community partners "
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor4.png',
        alt: 'Universidad Catolica Boliviana (UCB)',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor5.png',
        alt: 'Mujeres Tics',
      },

      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor6.png',
        alt: 'esLibertad Bolivia',
      },

      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor9.png',
        alt: 'Cripto Curiosas',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor7.png',
        alt: 'Taikai',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor8.png',
        alt: 'Talent Protocol',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Successful cases"
    subtitle="Find out how Ethereum Bolivia 2023 impacted on participants."
    isReversed
    items={[
      {
        title: 'Ethereum Foundation as main sponsor',
        description:
          'The participation of The Ecosystem Support Program (ESP) of the Ethereum Foundation as a sponsor contributed in providing resources, credibility, training and advocacy, and in strengthening the local Ethereum community. It contributed by driving innovation and fostering the adoption of Blockchain technology in the region.'
         },
      {
        title: 'Scholarship to participate in ETH Lisbon',
        description:
        'The hackathon had a profound impact on community member Manuel. Following the event, he won a valuable scholarship from community partner Talent Protocol, giving him the opportunity to participate in the hackathon in Lisbon in November. This achievement will strengthen his network, broaden his knowledge and provide him with a global platform to develop his career in technology.'},
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/impact2.png',
      alt: 'Startup Image',
    }}
  >

  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'TAIKAI as a Hackathon partner',
        description:
       'TAIKAI, as a Hackathon platform, made a significant impact by connecting the Web3 ecosystem to the event. It facilitated collaboration, fostered innovation and gave participants access to fresh ideas, accelerating the development of solutions and promoting creativity in technology.'
      },
      {
        title: 'Workshops in 8 different universities and educational institutes',
        description:  'We organised technical and non-technical workshops on blockchain at five Universities and three Technical and Technological Institutes had a fundamental impact. In addition to 14 introductory Blockchain talks, 15 specialised talks and 8 hands-on workshops, it provided a solid foundation of blockchain knowledge to students from diverse disciplines, fostered awareness and interest in the technology, and created opportunities for training and collaboration in an emerging field.' },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/impact3.png',
      alt: 'Startup Image',
    }}
  >
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '9 finalist projects',
        description: '  9 finalists in Bolivia`s first Blockchain hackathon',
      },
      {
        title: 'Visibilisation of ReFi projects with Fork DAO',
        description: 'Fork DAO`s initiative to showcase the finalist projects of the hackathon in relation to ReFi highlighted the potential of the solutions in Bolivia.'},
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/impact4.png',
      alt: 'Startup Image',
    }}
  >
  </Content>



  <!-- Speakers Widget *********** -->

  <Speakers
   title="Featured speakers and mentors",
    subtitle="We appreciate the speakers and mentors who came from different cities and countries to participate.", speakers={[
      {
        speaker: ``,
        name: 'Nico Gallardo',
        job: 'Co-founder Troops and the Wild Friends video game',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Nico Gallardo Image',
        },
      },
      {
        speaker: ``,
        name: 'Juan David Reyes',
        job: 'Co-founder of ETH Colombia',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers18.png',
         alt: 'Juan David Reyes Image',
        },
      },
      {
        speaker: ``,name: 'Alexia Celeste',
        job: 'Co-founder of Cripto Curiosas',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers9.png',
         alt: 'Alexia Celeste Image',
        },
      },
      {

        speaker: ``,
        name: 'Remberto Gonzales',
        job: 'Blockchain Developer and Teacher at USFX Chuquisaca',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers26.png',
         alt: ' Image',
        },
      },
      {

        speaker: ``,
        name: 'Ana Belen',
        job: 'Community Manager de Fundacion Arbitrum',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers24.png',
         alt: ' Image',
        },
      },
      {

        speaker: ``,
        name: 'Pedro Rey @CriptoPepe',
        job: 'Marketing Manager at OKX.com. Exbinance. Founder of Crypto Plata',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers28.png',
         alt: ' Image',
        },
      },
      {

        speaker: ``,
        name: 'Francisco Actis',
        job: 'Contributor to 1inch Network',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers25.png',
         alt: ' Image',
        },
      },
    ]}
  />

  <!-- Agenda Widget ************** -->

  <Agenda
    title="Agenda & Speakers"
    subtitle=""
    tagline=" "
    items={[
      {
        title: 'Oportunidades laborares en Blockchain',
        description: "<b> Cecilia Contreras </b> <br> Apicultora y Community Manager de Wild Friends",
        icon: ' 06 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers1.png',
          alt: 'Image',
        },
      },
      {
        title: 'Introduccion al Blockchain ',
        description: "<b> Neddy Choque </b> <br> Ingeniero certificado por EC-Council como Ethical Hacker",
        icon: ' 06 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers2.png',
          alt: 'Image',
        },
      },
      {
        title: 'Stablecoins como elementos para contrarrestar la inflacion',
        description: "<b> Mauricio Garita </b> <br> Investigador de la Universidad del Istmo en Guatemala ",
        icon: ' 25 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers3.png',
          alt: 'Image',
        },
      },
      {
        title: 'Regimen jurídico del contrato inteligente',
        description: "<b> F. Fabian Espinoza </b> <br> Representante regional de políticas públicas en el Regulatory Institute, Belgica.",
        icon: ' 25 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers4.png',
          alt: 'Image',
        },
      },
      {
        title: 'Blockchain y legaltech: El futuro del derecho',
        description: "<b> Natalia Dalenz</b> <br> Abogada, especialista en derecho de las nuevas tecnologías. ",
        icon: ' 25 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers5.png',
          alt: 'Image',
        },
      },
      {
        title: 'DEMO de Finanzas Descentralizadas',
        description: "<b> Edwin Fernandez</b> <br> Founder de Definomics Lab, Especialista en DeFi  y Embajador de Metapool, Core Team de ETH Lima.",
        icon: ' 26 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers6.png',
          alt: 'Image',
        },
      },
      {
        title: 'Como crear tu comunidad en blockchain, Aprende sobre airdrops y DeFi',
        description: "<b> Luis Alejandro Tintaya </b> <br> Creador y propietario del canal de YouTube Alex Cripto. ",
        icon: ' 26 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers7.png',
          alt: 'Image',
        },
      },
      {
        title: 'NFTs y como crear comunidad y transmitir un mensaje internacional ',
        description: "<b> Sazkiabella</b> <br> Creadora de la popular coleccion FreakyGirls (NFTs en OpenSea).",
        icon: ' 26 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers8.png',
          alt: 'Image',
        },
      },
      {
        title: 'Comunidades & Networking',
        description: "<b> Alexia Celeste</b> <br>Co Founder & Community Builder de Criptocuriosas ",
        icon: ' 27 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers9.png',
          alt: 'Image',
        },
      },
      {
        title: 'Herramientas de gestion para construir una DAO',
        description: "<b> Briguit Reinaldo</b> </b> <br> Fundadora de Women Biz, la comunidad mas grande de mujeres en tecnología web3 del Perú.",
        icon: ' 27 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers10.png',
          alt: 'Image',
        },
      },
      {
        title: 'Alcanza tus metas con Talent Protocol.',
        description: "<b> Juan Pablo Hernandez  </b> <br> System engenieer & Web3 Degen. Growth at Talent Protocol.",
        icon: ' 27 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers11.png',
          alt: 'Image',
        },
      },
      {
        title: 'Como pitchear tu proyecto - charla especializadas',
        description: "<b> Nico Gallardo  </b> <br> Co-fundador de  Troops y el videojuego Wild Friends, W3b Lab, Ethereum Bolivia. ",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Image',
        },
      },
      {
        title: 'Trazabilidad en la Produccion',
        description: "<b> Remberto Gonzales   </b> <br> Blockchain developer y Docente en USFX Chuquisaca ",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers26.png',
          alt: 'Image',
        },
      },
      {
        title: 'Pagos internacionales y tokenizacion de bienes inmuebles con Blockchain en Bolivia',
        description: "<b> Huascar Miranda </b> <br> Gerente empresa Blockchain Consultora.",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers14.png',
          alt: 'Image',
        },
      },
      {
        title: 'Tokenizacion de activos',
        description: "<b> Jorge Cerda </b> <br> Consultor Asociado Euromonitor International ",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers27.png',
          alt: 'Image',
        },
      },
      {
        title: 'Arquitectura de Aplicaciones Descentralizadas en Ethereum',
        description: "<b> Fabiola Acarapi </b> <br> Co Founder de Ethereum Bolivia ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers15.png',
          alt: 'Image',
        },
      },
      {
        title: 'Construyendo Experiencias de Usuario Confiables: Integrando UX y Desarrollo',
        description: "<b> Maria Emilia Aguilar  </b> <br>Ingeniera de Sistemas Computaciones ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers16.png',
          alt: 'Image',
        },
      },
      {
        title: 'Blockchain como Herramienta de Inclusion en Latinoamerica: La Vision de Proof of Integrity',
        description: "<b> Tom Grau Baena </b> <br>Director Ejecutivo de Proof of Integrity, ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers17.png',
          alt: 'Image',
        },
      },
      {
        title: 'Introduccion al Desarrollo de dApps con Scaffold-eth 2',
        description: "<b> Juan David Reyes </b> <br>Co Founder de Ethereum Colombia. Divulgador de Scaffold-ETH2 ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers18.png',
          alt: 'Image',
        },
      },
      {
        title: 'Explorando la Criptografía en Blockchain: Wallets y Seguridad',
        description: "<b> Ayrton Paredes </b> <br>Frontend Developer en Think and Dev. ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers19.png',
          alt: 'Image',
        },
      },
      {
        title: 'UX Writing en Web3 ',
        description: "<b>  Josefina Anschütz </b> <br> UX Writer | Mentora UX | Docente UX Writing ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers20.png',
          alt: 'Image',
        },
      },
      {
        title: 'Integracion de Oraculos en Contratos Inteligentes',
        description: "<b> Freddy Chambi </b> <br> Web 3 Developer, miembro de Ethereum Bolivia y Eth Kipu",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers21.png',
          alt: 'Image',
        },
      },
      {
        title: 'Como integrar un contrato inteligente con frontend y no morir en el intento?',
        description: "<b> Alejandro Soto Diaz </b> <br> Desarrollar de Software ",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers22.png',
          alt: 'Image',
        },
      },
      {
        title: 'Testing con Solidity',
        description: "<b> Huascar Miranda Martínez </b> <br>Gerente empresa Blockchain Consultora ",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers23.png',
          alt: 'Image',
        },
      },
      {
        title: 'Los caminos en Web3, como comenzar ',
        description: "<b> Ana Belen / AnaTech </b> <br>  Community Manager de Arbitrum Foundation. Co Founder de H.E.R. LATAM",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers24.png',
          alt: 'Image',
        },
      },
      {
        title: 'Introduccion a Dev Portal y 1inch APIs',
        description: "<b> Francisco Actis </b> <br> Contribuidor en 1inch Network",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers25.png',
          alt: 'Image',
        },
      },
      {
        title: 'Como ser builer en Web3? Revisemos algunos proyectos',
        description: "<b> Nico Gallardo </b> <br> Co-fundador de  Troops y el videojuego Wild Friends, W3b Lab, Ethereum Bolivia.",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Image',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Agenda>

  <!-- FAQs Widget ******************* -->

<FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What is the mode of the Hackathon?',
        description:
          'It has two modalities. The Hackathon will start in virtual mode for 8 days and then it will be face-to-face mode at the Universidad Catolica Boliviana', description: 'The Hackathon will start in virtual mode for 8 days and then it will be face-to-face mode at the Universidad Catolica Boliviana',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Who can attend this event?',
        description: `The Ethereum and web3 events are focused on inviting builders (developers, designers, artists) who want to create or contribute to projects during the Hackathon.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'I`m new to Ethereum, can I still participate?',
        description:
          'Absolutely! Our events are open to both beginners and veterans of the web3 world. This particular event will suit attendees who have experience with Web2 technologies and are interested in building on web3 for the first time.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What can I build during the event?',
        description: 'You are allowed to work on any idea you are excited about, as long as it is developed on Ethereum. This means that the event is open-ended and you don`t need to solve any particular problem',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->
<Steps2
    title="Contact us"
    subtitle="Do you have any questions, we are here to help you."

    items={[
      {
        title: 'Email',
        description: 'ethbolivia@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow us',
        description: '@EthereumBo',
        icon: 'tabler:brand-x',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
   id="blog"
    title="News"
    information={`Explore our collection of articles, guides and events that we will be holding in different cities in Bolivia.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
