---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Agenda from '~/components/widgets/Agenda.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import Speakers from '~/components/widgets/Speakers.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'ETH Bolivia 2023',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/photo4eth2023.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Ethereum Bolivia 2023<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
    Primera Hackathon de Blockchain en La Paz, Bolivia.

    </Fragment>
  </Hero2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="¿Qué es Ethereum Bolivia 2023?"
    subtitle="Es un evento que reúne a expertos en el ecosistema Ethereum, programadores y entusiastas en La Paz. Un espacio para fomentar la educación, la colaboración, el intercambio de conocimiento y el desarrollo, si estás en tus primeros pasos en el mundo de Blockchain o que seas un experimentado entusiasta, aquí encontrarás un lugar para compartir tus ideas. "
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Impacto del evento"
    subtitle="Los siguientes indicadores reflejan los resultados de eventos organizados en universidades de La Paz en Septiembre de 2023."
    stats={[
      { title: 'Asistentes', amount: '200' },
      { title: 'Expertos', amount: '16' },
      { title: 'Comunidades aliadas & patrocinadores', amount: '10' },
      { title: 'Horas de charlas técnicas y no técnicas', amount: '30' },
      { title: 'Hackers', amount: '85' },
      { title: 'Proyectos', amount: '13' },
      { title: 'Premios', amount: '+1000$' },
    ]}
  />


  <!-- Brands Widget ****************** -->

  <Brands
    title="Patrocinadores"
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor1.png',
        alt: 'Ecosystem Support Program',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor2.png',
        alt: '1inch Network',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor3.png',
        alt: 'MC4',
      },
    ]}
  />
  <Brands
    title="Comunidades aliadas y colaboradores "
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor4.png',
        alt: 'Universidad Catolica Boliviana (UCB)',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor5.png',
        alt: 'Mujeres Tics',
      },

      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor6.png',
        alt: 'esLibertad Bolivia',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor7.png',
        alt: 'Taikai',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor8.png',
        alt: 'Talent Protocol',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Casos de éxito"
    subtitle="Descubre como Ethereum Bolivia 2023 impactó en los participantes."
    isReversed
    items={[
      {
        title: 'Ethereum Foundation como patrocinador principal',
        description:
          'Are you a startup with big dreams? AstroWind propels your success. Our template forges a seamless online presence, attracting investors and customers from day one. Astro 3.0 and Tailwind CSS ensure striking, responsive sites, leaving lasting impressions. Countless startups leverage AstroWind to kickstart their journey and resonate with audiences.',
      },
      {
        title: 'Beca para participar en ETH Lisboa',
        description: `Allow startups to quickly create professional websites without investing extensive time and resources. <br /> Make a memorable first impression with visually appealing design elements that highlight your startup's unique value proposition. <br /> Ensures your website looks stunning and works well on all devices. <br /> Engage potential investors and customers with engaging content, clear messaging, and intuitive navigation.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >

  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'TAIKAI como plataforma',
        description: `For SaaS businesses, user experience is key. AstroWind enhances showcasing SaaS solutions intuitively. The template's Astro 3.0 and Tailwind CSS integration guarantees user-friendly experience, mirroring your software's efficiency. Customize pages to communicate SaaS value and solutions for your audience.`,
      },
      {
        title: 'Talleres en 5 diferentes universidades en La Paz',
        description: `Ensuring a cohesive and user-centric design for your SaaS website. <br /> Effectively communicate complex SaaS features through visual aids, animations, and interactive elements. <br /> Prioritize user needs and pain points through well-structured layouts and clear navigation. <br /> Encourage visitors to take action with strategically placed CTAs. <br /> Ensures your SaaS website works seamlessly across all devices.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '7 proyectos',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
      {
        title: 'Fork DAO',
        description: `Serve as a captivating backdrop to showcase your creative work, capturing attention and leaving a lasting impression. <br /> Tailor your portfolio to reflect your unique style and artistic vision. <br /> Prioritizes visuals, allowing you to present your work in high-resolution detail that draws viewers into your creations. <br /> Enables seamless navigation for effortless portfolio exploration.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
  </Content>



  <!-- Speakers Widget *********** -->

  <Speakers
    title="Speakers"
    speakers={[
      {
        speaker: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        speaker: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        speaker:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        speaker:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Ver todos los speakers',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- Agenda Widget ************** -->

  <Agenda
    title="Agenda & Speakers"
    subtitle=""
    tagline=" "
    items={[
      {
        title: 'Picture a superhero landing – epic, right? Thats the job of',
        description: "Ana Belen <br> CTO de HER dao   ",
        icon: ' 24 de Septiembre',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Agenda>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Qué modalidad tiene la Hackathon?',
        description:
          'Tiene dos modalidades. La Hackathon comenzará en modalidad virtual por 8 días y después será modalidad presencial en la Universidad Católica Boliviana.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Quién puede asistir a este evento?',
        description: `Los eventos de Ethereum y web3 se centran en invitar a constructores (desarrolladores, diseñadores, artistas) que quieran crear o contribuir a proyectos durante la Hackathon.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Soy nuevo en Ethereum. ¿Aún puedo participar?',
        description:
          '¡Absolutamente! Nuestros eventos están abiertos tanto a principiantes como a veteranos del mundo web3. Este evento en particular se adaptará a los asistentes que tienen experiencia con las tecnologías Web2 y están interesados ​​en construir en web3 por primera vez.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué puedo construir durante el evento?',
        description: `Se le permite trabajar en cualquier idea que le entusiasme, siempre que se desarrolle sobre Ethereum. Esto significa que el evento tiene un final abierto y no es necesario que usted resuelva ningún problema en particular.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contáctanos"
    subtitle="¿Tienes alguna duda?, Estamos acá para ayudarte."

    items={[
      {
        title: 'Correo electrónico',
        description: 'ethbolivia@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Suígenos',
        description: '@EthereumBo',
        icon: 'tabler:brand-x',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Novedades"
    information={`Explora en nuestra colección de artículos, guías y eventos que realizaremos en diferentes ciudades en Bolivia.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
