---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import CardActivities from '~/components/widgets/CardActivities.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ETH Bolivia - Website de la comunidad.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Follow us',
        href: 'https://twitter.com/EthereumBo',
        target: '_blank',
        icon: 'tabler:brand-x',
      },
      { variant: 'secondary',
        text: 'Community group ',
        href: 'https://t.me/EthereumBo',
        target: '_blank',
        icon: 'tabler:brand-telegram', },
    ]}
    image={{ src: '~/assets/images/hero2.png', alt: 'Artist: Patrick Atkins' }}
  >
    <Fragment slot="title">
      Ethereum Bolivia
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
         Ethereum community in Bolivia.
         Let's learn, spread and build!
      </span>

    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />


  <!-- Cards Widget ******************* -->

  <CardActivities
    title=" "
    prices={[
      {
        title: 'Ethereum Bolivia 2023',
        subtitle: 'First Blockchain hackathon in the country',
        callToAction: {
          text: 'See more',
          href: 'https://fabiola29298.github.io/ethBoliviaWebsite/hackathon-2023',
        },
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/photo4eth2023.jpg',
          alt: 'Image',
        },
      },
      {
        title: 'Ethereum Bolivia 2024',
        subtitle: 'Location: Santa Cruz',
        callToAction: {
          text: 'See more',
          href: 'https://fabiola29298.github.io/ethBoliviaWebsite/hackathon-2024',
        },
        hasRibbon: true,
        ribbonTitle: 'Soon',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/heroScz.png',
          alt: 'Image',
        },
      },
      {
        title: 'Who are we?',
        subtitle: 'Meet the team',
        callToAction: {
          text: 'See more',
          href: 'https://fabiola29298.github.io/ethBoliviaWebsite/nosotros',
        },
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/heroNosotros.png',
          alt: 'Image',
        },
      },
    ]}
  />



  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Telegram',
        href: 'https://t.me/EthereumBo',
        target: '_blank',
        icon: 'tabler:brand-telegram',
      },

    ]}
  >
    <Fragment slot="title">
      Join our community
    </Fragment>

    <Fragment slot="subtitle">
     We organise events every month. <br class="hidden md:inline" /> Also Twitter Spaces
    </Fragment>
  </CallToAction>

   <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="News"
    information={`Explore our collection of articles, guides and events that we will be holding in different cities in Bolivia.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
