---
import { changeLanguage } from "i18next";
import Features3 from "~/components/widgets/Features3.astro";
import Hero from "~/components/widgets/Hero.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Layout from "~/layouts/PageLayout.astro";
import Agenda from "~/components/widgets/Agenda.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";

changeLanguage("en");

const metadata = {
    title: "About us",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/heroNosotros.png',
      alt: 'Comunidad Image',
    }}
  >
    <Fragment slot="title">
     Welcome to Ethereum Bolivia!
    </Fragment>

   <Fragment slot="subtitle">
      We are a vibrant community of passionate and curious minds, enthusiastic about the blockchain ecosystem in Bolivia and all of Latin America.
    </Fragment>
  </Hero>


  <!-- Features3 Widget ************** -->

  <Features3
    title="Venues"
    subtitle=" "
    columns={2}
    isBeforeContent={true}
    items={[
     {
        title: 'La Paz',
        description:
          'We start community in La Paz in 2021, we organize monthly events.',
        icon: 'tabler:gps',
      },
      {
        title: 'Santa Cruz',
        description:
          'Our first event in Santa Cruz was in 2022 and now we are preparing the Hackathon for 2024.',
        icon: 'tabler:gps',
      },
    ]}
  />


  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="About us"
    subtitle=" "
    items={[
     {
        title: 'Mission',
        description:
          'To inspire and invite all Bolivians and Latin Americans to join the web3 movement and build a better future with Ethereum',
      },
      {
        title: 'Our Space',
        description:
          'We want our space to be a meeting point where ideas are shared, continuous learning is encouraged and fruitful and lasting relationships are created.',
      },
      {
        title: 'About us',
        description:
          'Ethereum Bolivia is a group of young enthusiasts of Web3 and Blockchain technology. We seek to promote research and innovation through various activities for the community.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

<Steps2
    title="Our Impact"
    subtitle="Also check out the achievements of the first Web3 Hackathon in the country. "
    isReversed={true}
    callToAction={{
      text: 'Ethereum Bolivia 2023',
      href: '/2023',
    }}
    items={[
      {
        title: 'ETH Kipu Members - ETH Latam',
        description: 'We are part of the Ethereum Latam community network',
        icon: 'tabler:globe',
      },
      {
        title: 'Community Generation',
        description:
          'We strive to be a community oriented in creating the next generation.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Web3 and Blockchain education',
        description:
          'we seek to foster education, collaboration, knowledge sharing and development, whether you are just taking your first steps.',
        icon: 'tabler:award',
      },
    ]}
  />


  <!-- Agenda Widget ************** -->

  <Agenda
    title="Team"
    subtitle=""
    tagline=" "
    items={[
      {
        title: 'Nico Gallardo',
        description: `Co-Founder / Finanzas Lead <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me!  </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Nico Gallardo Image',
        },
      },
      {
        title: 'Fabi Acarapi',
        description: `Co-Founder / Community Lead<br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers15.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Pedro Rey',
        description: `Co-Founder  <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers28.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Cecilia Contreras',
        description: `Content Manager <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers1.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Huascar Miranda',
        description: `Technical Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers14.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Alison Berbetty',
        description: `Legal Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Ayrton Paredes',
        description: `Technical Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers19.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Freddy Chambi',
        description: `Technical Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers21.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Fabian',
        description: `Legal Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Abidan',
        description: `Technical Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Manuel Elias ',
        description: `Technical Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        title: 'Alexandro',
        description: `Technical Mentor <br>
        <a href="https://twitter.com/EthereumBo" class="text-muted hover:underline dark:text-slate-400 font-medium"
        >Follow me! </a>
        `,
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Agenda>


  <!-- Steps2 Widget ****************** -->
<Steps2
    title="Contact us"
    subtitle="Do you have any questions, we're here to help."

    items={[
      {
        title: 'Email',
        description: 'ethbolivia@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow us',
        description: '@EthereumBo',
        icon: 'tabler:brand-x',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->
<BlogLatestPosts
    id="blog"
    title="News "
    information={` Explore our collection of articles, guides and events we will be holding in different cities in Bolivia.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

</Layout>
