---
import { changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Hero2 from "~/components/widgets/Hero2.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Content from "~/components/widgets/Content.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Agenda from "~/components/widgets/Agenda.astro";
import Stats from "~/components/widgets/Stats.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import Speakers from "~/components/widgets/Speakers.astro";
import Brands from "~/components/widgets/Brands.astro";

changeLanguage("es");

const metadata = {
    title: "ETH Bolivia 2023",
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{
      src: '~/assets/images/photo4eth2023.jpg',
      alt: 'Ethereum Bolivia Hero Image',
    }}
  >
    <Fragment slot="title">
      Ethereum Bolivia 2023<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
    Primera Hackathon de Blockchain en La Paz, Bolivia.

    </Fragment>
  </Hero2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="¿Qué es Ethereum Bolivia 2023?"
    subtitle="Es un evento que reúne a expertos en el ecosistema Ethereum, programadores y entusiastas en La Paz. Un espacio para fomentar la educación, la colaboración, el intercambio de conocimiento y el desarrollo, si estás en tus primeros pasos en el mundo de Blockchain o que seas un experimentado entusiasta, aquí encontrarás un lugar para compartir tus ideas. "
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Impacto del evento"
    subtitle="Los siguientes indicadores reflejan los resultados de eventos organizados en universidades de La Paz en Septiembre de 2023."
    stats={[
      { title: 'Asistentes', amount: ' +200' },
      { title: 'Expertos', amount: '28' },
      { title: 'Comunidades aliadas & patrocinadores', amount: '10' },
      { title: 'Horas de charlas técnicas y no técnicas', amount: '+45' },
      { title: 'Hackers', amount: '64' },
      { title: 'Proyectos', amount: '9' },
      { title: 'Premios', amount: '+1000$' },
    ]}
  />


  <!-- Brands Widget ****************** -->

  <Brands
    title="Patrocinadores"
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor1.png',
        alt: 'Ecosystem Support Program',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor2.png',
        alt: '1inch Network',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor3.png',
        alt: 'MC4',
      },
    ]}
  />
  <Brands
    title="Comunidades aliadas y colaboradores "
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor4.png',
        alt: 'Universidad Catolica Boliviana (UCB)',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor5.png',
        alt: 'Mujeres Tics',
      },

      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor6.png',
        alt: 'esLibertad Bolivia',
      },

      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor9.png',
        alt: 'Cripto Curiosas',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor7.png',
        alt: 'Taikai',
      },
      {
        src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/sponsor8.png',
        alt: 'Talent Protocol',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Casos de éxito"
    subtitle="Descubre como Ethereum Bolivia 2023 impactó en los participantes."
    isReversed
    items={[
      {
        title: 'Ethereum Foundation como patrocinador principal',
        description:
          'La participación de The Ecosystem Support Program (ESP) de la Ethereum Foundation como patrocinador contribuyó en proporcionar recursos, credibilidad, formación y promoción, y al fortalecer la comunidad local de Ethereum. Contribuyó impulsando la innovación y fomentando la adopción de tecnología de Blockchain en la región.'
         },
      {
        title: 'Beca para participar en ETH Lisboa',
        description:
        'La hackathon tuvo un profundo impacto en Manuel, miembro de la comunidad. Tras el evento, ganó una valiosa beca de Talent Protocol como comunidad aliada, brindándole la oportunidad de participar en la hackathon en Lisboa en noviembre. Este logro fortalecerá su red de contactos, ampliará su conocimiento y le ogrecerá una plataforma global para desarrollar su carrera en tecnología.'},
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/impact2.png',
      alt: 'Startup Image',
    }}
  >

  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'TAIKAI como aliado de la Hackathon',
        description:
       'TAIKAI, como plataforma de Hackathon, generó un impacto significativo al conectar el ecosistema Web3 con el evento. Facilitó la colaboración, fomentó la innovación y brindó a los participantes acceso a ideas frescas, acelerando el desarrollo de soluciones y promoviendo la creatividad en el ámbito tecnológico.'
      },
      {
        title: 'Talleres en 8 diferentes universidades e institutos educativos',
        description:  'La organización de talleres técnicos y no técnicos sobre blockchain en cinco Universidades y tres Institutos Técnicos y Tecnologícos tuvo un impacto fundamental. Organizamos 14 charlas introductorias de Blockchain, 15 charlas especializadas y 8 talleres prácticos Proporcionó una sólida base de conocimiento sobre blockchain a estudiantes de diversas disciplinas, fomentó la conciencia y el interés en la tecnología, y creó oportunidades de formación y colaboración en un campo emergente.' },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/impact3.png',
      alt: 'Startup Image',
    }}
  >
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '9 proyectos finalistas',
        description: 'La presencia de 9 proyectos finalistas en la primera hackathon de Blockchain en Bolivia',
      },
      {
        title: 'Visibilización de proyectos ReFi con Fork DAO',
        description: 'La iniciativa de Fork DAO para visibilizar los proyectos finalistas de la hackathon en relación a ReFi permitió destacar el potencial de las soluciones en Bolivia. '},
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/impact4.png',
      alt: 'Startup Image',
    }}
  >
  </Content>



  <!-- Speakers Widget *********** -->

  <Speakers
    title="Speakers y mentores destacados",
    subtitle="Agradecemos a los speakers y mentores que llegaron de diferentes ciudades y paises para participar.",
    speakers={[
      {
        speaker: ``,
        name: 'Nico Gallardo',
        job: 'Co-fundador Troops y el videojuego Wild Friends',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Nico Gallardo Image',
        },
      },
      {
        speaker: ``,
        name: 'Juan David Reyes',
        job: 'Co-fundador de ETH Colombia',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers18.png',
         alt: 'Juan David Reyes Image',
        },
      },
      {
        speaker: ``,name: 'Alexia Celeste',
        job: 'Co-fundador de Cripto Curiosas',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers9.png',
         alt: 'Alexia Celeste Image',
        },
      },
      {

        speaker: ``,
        name: 'Remberto Gonzales',
        job: 'Blockchain Developer y Docente en USFX Chuquisaca',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers26.png',
         alt: ' Image',
        },
      },
      {

        speaker: ``,
        name: 'Ana Belén',
        job: 'Community Manager de Arbitrum Foundation',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers24.png',
         alt: ' Image',
        },
      },
      {

        speaker: ``,
        name: 'Pedro Rey @CriptoPepe',
        job: 'Marketing Manager en OKX.com. Exbinance. Fundador de Crypto Plata',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers28.png',
         alt: ' Image',
        },
      },
      {

        speaker: ``,
        name: 'Francisco Actis',
        job: 'Contribuidor en 1inch Network',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers25.png',
         alt: ' Image',
        },
      },
    ]}
  />

  <!-- Agenda Widget ************** -->

  <Agenda
    title="Agenda & Speakers"
    subtitle=""
    tagline=" "
    items={[
      {
        title: 'Oportunidades laborares en Blockchain',
        description: "<b> Cecilia Contreras </b> <br> Apicultora y Community Manager de Wild Friends",
        icon: ' 06 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers1.png',
          alt: 'Image',
        },
      },
      {
        title: 'Introducción al Blockchain ',
        description: "<b> Neddy Choque </b> <br> Ingeniero certificado por EC-Council como Ethical Hacker",
        icon: ' 06 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers2.png',
          alt: 'Image',
        },
      },
      {
        title: 'Stablecoins como elementos para contrarrestar la inflación',
        description: "<b> Mauricio Garita </b> <br> Investigador de la Universidad del Istmo en Guatemala   ",
        icon: ' 25 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers3.png',
          alt: 'Image',
        },
      },
      {
        title: 'Régimen jurídico del contrato inteligente',
        description: "<b> F. Fabian Espinoza </b> <br> Representante regional de políticas públicas en el Regulatory Institute, Bélgica.",
        icon: ' 25 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers4.png',
          alt: 'Image',
        },
      },
      {
        title: 'Blockchain y legaltech: El futuro del derecho',
        description: "<b> Natalia Dalenz</b> <br> Abogada, especialista en derecho de las nuevas tecnologías. ",
        icon: ' 25 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers5.png',
          alt: 'Image',
        },
      },
      {
        title: 'DEMO de Finanzas Descentralizadas',
        description: "<b> Edwin Fernandez</b> <br> Founder de Definomics Lab, Especialista en DeFi  y Embajador de Metapool, Core Team de ETH Lima.",
        icon: ' 26 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers6.png',
          alt: 'Image',
        },
      },
      {
        title: 'Cómo crear tu comunidad en blockchain, Aprende sobre airdrops y DeFi',
        description: "<b> Luis Alejandro Tintaya </b> <br> Creador y propietario del canal de YouTube Alex Cripto. ",
        icon: ' 26 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers7.png',
          alt: 'Image',
        },
      },
      {
        title: 'NFTs y cómo crear comunidad y transmitir un mensaje internacional ',
        description: "<b> Sazkiabella</b> <br> Creadora de la popular colección FreakyGirls (NFTs en OpenSea).",
        icon: ' 26 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers8.png',
          alt: 'Image',
        },
      },
      {
        title: 'Comunidades & Networking',
        description: "<b> Alexia Celeste</b> <br>Co Founder & Community Builder de Criptocuriosas ",
        icon: ' 27 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers9.png',
          alt: 'Image',
        },
      },
      {
        title: 'Herramientas de gestión para construir una DAO',
        description: "<b> Briguit Reinaldo</b> </b> <br> Fundadora de Women Biz, la comunidad más grande de mujeres en tecnología web3 del Perú.",
        icon: ' 27 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers10.png',
          alt: 'Image',
        },
      },
      {
        title: 'Alcanza tus metas con Talent Protocol.',
        description: "<b> Juan Pablo Hernandez  </b> <br> System engenieer & Web3 Degen. Growth at Talent Protocol.",
        icon: ' 27 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers11.png',
          alt: 'Image',
        },
      },
      {
        title: 'Cómo pitchear tu proyecto - charla especializadas',
        description: "<b> Nico Gallardo  </b> <br> Co-fundador de  Troops y el videojuego Wild Friends, W3b Lab, Ethereum Bolivia. ",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Image',
        },
      },
      {
        title: 'Trazabilidad en la Producción',
        description: "<b> Remberto Gonzales   </b> <br> Blockchain developer y Docente en USFX Chuquisaca ",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers26.png',
          alt: 'Image',
        },
      },
      {
        title: 'Pagos internacionales y tokenizacion de bienes inmuebles con Blockchain en Bolivia',
        description: "<b> Huascar Miranda </b> <br> Gerente empresa Blockchain Consultora.",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers14.png',
          alt: 'Image',
        },
      },
      {
        title: 'Tokenización de activos',
        description: "<b> Jorge Cerda </b> <br> Consultor Asociado Euromonitor International ",
        icon: ' 28 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers27.png',
          alt: 'Image',
        },
      },
      {
        title: 'Arquitectura de Aplicaciones Descentralizadas en Ethereum',
        description: "<b> Fabiola Acarapi </b> <br> Co Founder de Ethereum Bolivia ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers15.png',
          alt: 'Image',
        },
      },
      {
        title: 'Construyendo Experiencias de Usuario Confiables: Integrando UX y Desarrollo',
        description: "<b> Maria Emilia Aguilar  </b> <br>Ingeniera de Sistemas Computaciones ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers16.png',
          alt: 'Image',
        },
      },
      {
        title: 'Blockchain como Herramienta de Inclusión en Latinoamérica: La Visión de Proof of Integrity',
        description: "<b> Tom Grau Baena </b> <br>Director Ejecutivo de Proof of Integrity, ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers17.png',
          alt: 'Image',
        },
      },
      {
        title: 'Introducción al Desarrollo de dApps con Scaffold-eth 2',
        description: "<b> Juan David Reyes </b> <br>Co Founder de Ethereum Colombia. Divulgador de Scaffold-ETH2 ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers18.png',
          alt: 'Image',
        },
      },
      {
        title: 'Explorando la Criptografía en Blockchain: Wallets y Seguridad',
        description: "<b> Ayrton Paredes </b> <br>Frontend Developer en Think and Dev. ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers19.png',
          alt: 'Image',
        },
      },
      {
        title: 'UX Writing en Web3 ',
        description: "<b>  Josefina Anschütz </b> <br> UX Writer | Mentora UX | Docente UX Writing ",
        icon: ' 29 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers20.png',
          alt: 'Image',
        },
      },
      {
        title: 'Integración de Oráculos en Contratos Inteligentes',
        description: "<b> Freddy Chambi </b> <br> Web 3 Developer, miembro de Ethereum Bolivia y Eth Kipu",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers21.png',
          alt: 'Image',
        },
      },
      {
        title: '¿Cómo integrar un contrato inteligente con frontend y no morir en el intento?',
        description: "<b> Alejandro Soto Diaz </b> <br> Desarrollar de Software ",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers22.png',
          alt: 'Image',
        },
      },
      {
        title: 'Testing con Solidity',
        description: "<b> Huáscar Miranda Martínez </b> <br>Gerente empresa Blockchain Consultora ",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers23.png',
          alt: 'Image',
        },
      },
      {
        title: 'Los caminos en Web3, cómo comenzar ',
        description: "<b> Ana Belén / AnaTech </b> <br>  Community Manager de Arbitrum Foundation. Co Founder de H.E.R. LATAM",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers24.png',
          alt: 'Image',
        },
      },
      {
        title: 'Introducción a Dev Portal y 1inch APIs',
        description: "<b> Francisco Actis </b> <br> Contribuidor en 1inch Network",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers25.png',
          alt: 'Image',
        },
      },
      {
        title: '¿Cómo ser builer en Web3? Revisemos algunos proyectos',
        description: "<b> Nico Gallardo </b> <br> Co-fundador de  Troops y el videojuego Wild Friends, W3b Lab, Ethereum Bolivia.",
        icon: ' 30 de Septiembre, 2023',
        image: {
          src: 'https://raw.githubusercontent.com/fabiola29298/ethBoliviaWebsite/main/src/assets/images/agendaSpeakers12.png',
          alt: 'Image',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Agenda>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Qué modalidad tiene la Hackathon?',
        description:
          'Tiene dos modalidades. La Hackathon comenzará en modalidad virtual por 8 días y después será modalidad presencial en la Universidad Católica Boliviana.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Quién puede asistir a este evento?',
        description: `Los eventos de Ethereum y web3 se centran en invitar a constructores (desarrolladores, diseñadores, artistas) que quieran crear o contribuir a proyectos durante la Hackathon.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Soy nuevo en Ethereum. ¿Aún puedo participar?',
        description:
          '¡Absolutamente! Nuestros eventos están abiertos tanto a principiantes como a veteranos del mundo web3. Este evento en particular se adaptará a los asistentes que tienen experiencia con las tecnologías Web2 y están interesados ​​en construir en web3 por primera vez.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué puedo construir durante el evento?',
        description: `Se le permite trabajar en cualquier idea que le entusiasme, siempre que se desarrolle sobre Ethereum. Esto significa que el evento tiene un final abierto y no es necesario que usted resuelva ningún problema en particular.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contáctanos"
    subtitle="¿Tienes alguna duda?, Estamos acá para ayudarte."

    items={[
      {
        title: 'Correo electrónico',
        description: 'ethbolivia@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Síguenos',
        description: '@EthereumBo',
        icon: 'tabler:brand-x',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Novedades"
    information={`Explora en nuestra colección de artículos, guías y eventos que realizaremos en diferentes ciudades en Bolivia.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
